<mat-expansion-panel>
    <mat-expansion-panel-header>

        <mat-panel-title>
            Social
        </mat-panel-title>

        <mat-panel-description>
            See your social details
        </mat-panel-description>

    </mat-expansion-panel-header>

    <h1 class="mat-display-1">$RANK_NAME</h1>
    <h2 class="mat-h2">$CURRENT_POINTS/$NEXT_RANK</h2>

    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>

    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi itaque voluptates perferendis quam doloribus asperiores aliquid dolor accusantium? Officia nihil cumque velit dolorem maxime quisquam obcaecati nesciunt harum iste similique!
</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>

        <mat-panel-title>
            Social
        </mat-panel-title>

        <mat-panel-description>
            See your social details
        </mat-panel-description>

    </mat-expansion-panel-header>

    <h1 class="mat-display-1">$RANK_NAME</h1>
    <h2 class="mat-h2">$CURRENT_POINTS/$NEXT_RANK</h2>

    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>

    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi itaque voluptates perferendis quam doloribus asperiores aliquid dolor accusantium? Officia nihil cumque velit dolorem maxime quisquam obcaecati nesciunt harum iste similique!
</mat-expansion-panel>