<mat-toolbar color="primary">
  <span routerLink="/">$ICO pozzie</span>
</mat-toolbar>

<section class="mat-typography">
  <h1>Register</h1>

  <!-- <mat-form-field>
    <input matInput placeholder="Amount" type="number" class="example-right-align">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Enter your password" 
      [type]="hide ? 'password' : 'text'">
    <mat-icon matSuffix 
      (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}
    </mat-icon>
  </mat-form-field> -->

</section>