<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">

    <mat-card class="profile-card">

      <mat-card-header>
          <!-- <img mat-card-avatar 
              src="../../assets/baseline_account_circle_black_24dp.png"> -->

          <img mat-card-avatar 
            src="{{userInfo[0]['photoUrl']}}">
              

          <mat-card-title routerLink="/profile" routerLinkActive="active">
            {{userInfo[0]["displayName"]}}
          </mat-card-title>

          <mat-card-subtitle>
              {{userInfo[0]["email"]}}
          </mat-card-subtitle>
          <!-- <mat-card-footer> -->
            <button mat-button (click)="signOut()">Logout</button>
         <!-- </mat-card-footer> -->
      </mat-card-header>

    </mat-card>

    <mat-nav-list>
      <a mat-list-item>Search</a>
      <a mat-list-item>Forum</a>
      <a mat-list-item>Top</a>
      <a mat-list-item>View x</a>
      <a mat-list-item>View x</a>
      <a mat-list-item>View x</a>
      <a mat-list-item>View x</a>
      <mat-divider></mat-divider>
      <a mat-list-item>My searches</a>
      <a mat-list-item>My comments</a>
      <a mat-list-item>My sites</a>
      <a mat-list-item>My notes</a>
      <a mat-list-item>My goals</a>
      <a mat-list-item>Option x</a>
      <a mat-list-item>Option x</a>
      <a mat-list-item>Option x</a>
      <a mat-list-item>Option x</a>
      <a mat-list-item>Option x</a>
      <a mat-list-item>Option x</a>
      <a mat-list-item>Option x</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>pozzie</span>
      <!-- <span class="space-splitter"></span> -->
    </mat-toolbar>
    
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
