<!-- <section class="mat-typography"> -->
  <mat-toolbar color="primary">
    <span>$ICO pozzie</span>

    <span class="space-splitter"></span>

    <a mat-raised-button routerLink="register">$REGISTER</a>
    <a mat-raised-button routerLink="profile" (click)="log()">$LOGIN</a>

  </mat-toolbar>

  <mat-grid-list cols="4">
    <mat-grid-tile [colspan]="4">
      <img src="../../assets/logo.png">
    </mat-grid-tile>
    <mat-grid-tile [colspan]="4" style="background-color: deepskyblue">
      <h1 class="mat-display-3">A free SEO system for everyone!</h1>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="4" >
      <h2 class="mat-display-1">The following search engines are supported:</h2>
    </mat-grid-tile>
    <mat-grid-tile style="background-color: yellow">
      $BING_ICO
      <h3 class="mat-h3">Bing</h3>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" style="background-color: blue">
      <i class="fab fa-google"></i>
      <h3 class="mat-h3">Google</h3>
    </mat-grid-tile>
    <mat-grid-tile style="background-color: red">
      <span>$DDG_ICO</span>
      <h3 class="mat-h3">DuckDuckGo</h3>
    </mat-grid-tile>
  
  </mat-grid-list>

<!-- </section> -->