<!-- <section class="mat-typography"> -->
  <mat-toolbar color="primary">
    <span>$ICO pozzie</span>

    <span class="space-splitter"></span>

    <a mat-raised-button routerLink="register">$REGISTER</a>
    <a mat-raised-button routerLink="login">$LOGIN</a>

  </mat-toolbar>

  <mat-grid-list cols="2">
    <mat-grid-tile [colspan]="2">
      <img src="../../assets/logo.png">
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" style="background-color: deepskyblue">
      <h1 class="mat-display-3">A free SEO system for everyone!</h1>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium quae rem nam laboriosam repellat beatae aliquam dolore adipisci pariatur officiis expedita, officia tenetur non aperiam fugit quidem libero odit nihil!
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
      $PIC.jpg
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
      $PIC.jpg
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium quae rem nam laboriosam repellat beatae aliquam dolore adipisci pariatur officiis expedita, officia tenetur non aperiam fugit quidem libero odit nihil!
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium quae rem nam laboriosam repellat beatae aliquam dolore adipisci pariatur officiis expedita, officia tenetur non aperiam fugit quidem libero odit nihil!
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
      $PIC.jpg
    </mat-grid-tile>
  </mat-grid-list>

  <!-- <mat-toolbar>
    <span>Footer</span>
  </mat-toolbar> -->
<!-- </section> -->